.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
}
header{
  z-index: 2;
}

h1{
  margin-bottom: 0px;
}

h6{
  margin: 0 0 40px 0;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 180px;
  gap: 10px;
  border-radius: 5px;
}

.search-results, .playlist{
  background-color: whitesmoke;
  flex-grow: 1;
  padding: 15px;
}

.search-results-container, .playlistContainer{
  width: 100%;
  margin-top: 20px;
}

.track{
  padding: 5px 10px;
  box-sizing: border-box;
  text-align: left;
  background-color: white;
}

.track button{
  background-color: #282c34;
  color: white;
  padding: 5px 10px;
  border: none;
}

.button-container{
  width: 100%;
  margin: 15px;
}

.button-container button{
  width: 50%;
  padding: 10px;
  background-color: whitesmoke;
  color: #282c34;
  border: 2px solid black;
}

@media only screen and (min-width: 1000px) {

  .button-container{
    display: none;
  }
  .search-results{
    display: block !important;
  }
  .playlist{
    display: block !important;
  }
  .App-header {
    height: 110px;
  }
}


@media only screen and (max-width: 1000px) {

  .button-container{
    display: block;
  }
  .playlist{
    display: none;
  }
}